@media (orientation: landscape) {
  .CardBox {
    padding-bottom: 0.6em;
    padding-top: 0.6em;
  }
}

@media (orientation: portrait) {
  .CardBox {
    padding-bottom: 0.8em;
    padding-top: 0.8em;
  }
}

.cardIndicator {
  width: 1em;
  height: 1em;
  top: 0em;
  left: 0em;
  border-radius: 0;
  position: absolute;
  z-index: 2;
}

.fakeCardIndicator {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
}

.CardBox:disabled {
  cursor: not-allowed;
}

.cardContainer {
  position: relative;
  display: inline-block;
}

.red {
  color: #ff4136;
}
.blue {
  color: #0074d9;
}

.green {
  color: rgb(37, 198, 91);
}

.info {
  color: #494949;
  text-align: center;
}

.instructionsList > li {
  margin-bottom: 1.5rem;
}

.instructionsList > li > ul > li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fakeGrid {
  margin-left: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5px;
  width: 80%;
}
