.portrait {
  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
  position: relative;
  max-width: 512px;
  width: 512px;
  height: 768px;
  max-height: 768px;
  overflow: hidden;
  background-color: white;
}

.gameBoard {
}
.inputText {
  font-size: 1.6em;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 300px !important;
}

.lobbyButton {
  display: block !important;
  margin: auto;
  margin-top: 20px;
}

.landscape {
  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
  position: relative;
  max-width: 1280px;
  width: 1280px;
  height: 720px;
  max-height: 720px;
  overflow: hidden;
  background-color: white;
}

.phase {
  margin: 0px;
  opacity: 1;
  transition: height 0.5s 0ms, opacity 0.5s 0.5s;
}

.phaseTitle {
  font-size: 2em;
  margin-top: 0.5em;
  text-align: center;
}

.ui_box {
  margin-top: 12em;
}

.instructions {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}

.parent {
  position: absolute;
  width: 100%;
  max-height: 100%;
  /*  max-width: 512px;
  width: 512px;
  height: 768px;
  max-height: 768px;
  overflow: hidden;*/
}

.hidden {
  margin: auto;
  transition: height 0.5s 0.5s, opacity 0.5s 0ms;
  opacity: 0;
  pointer-events: none;
  height: 0px;
}

#game-exit {
  position: absolute;
  max-width: 1280px;
  width: 1280px;
  top: 600px;
}

.exitButton {
  display: block !important;
  margin: auto;
  font-size: 2rem;
}
