.visible {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s 0.25s, opacity 0.25s 0.25s ease-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.25s, opacity 0.25s ease-in;
}
