.clientSetupMsg {
  font-size: 3rem;
  text-align: center;
}

.url {
  background-color: whiteSmoke;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px 0px 0px 5px;
}

.urlBox {
  position: relative;
}

@media (max-height: 550px) {
  .qrCode {
    display: none;
  }
}
