.icon {
  height: 17px;
  width: 16px;
}
.copyBox {
  position: relative;
}
.helpText {
  margin-top: 0.2em;
}
button {
  vertical-align: top;

  /* or any other value that suits you */
}
.copyButton {
  max-height: 32px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px;
  left: -2px;
  position: relative;
  text-align: center;
}

.hideText {
  opacity: 0;
  transition: 3s;
}

.urlText {
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
  max-height: 32px;
  color: rgb(222, 74, 153) !important;
  width: 440px;
  max-width: 70vw;
  font-family: monospace;
  border-radius: 3px 0px 0px 3px;
  /* display: inline-block; */
}

.urlText:hover {
  color: rgb(222, 74, 153);
}
