.redText {
  color: #ff4136;
}

.blueText {
  color: #0074d9;
}

.playersCard {
  padding: 0em;
  border-radius: 0.4em;
  max-width: 85em;
}

.playersTable {
  margin: auto;
  table-layout: fixed;
}

.mtag {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0.3em;
  background-color: WhiteSmoke;
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
  text-align: center;
  padding: 0.25em;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid;
  font-size: 1rem;
}

.mtag.occupied {
  background-color: #ffe4c4;
}

th {
  text-align: center !important;
}
