.phaseTitle {
  text-align: center;
}

.centering {
  margin: auto;
  display: block !important;
}

.setupScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
