.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
  padding: 10%;
  grid-gap: 5px;
}

.square {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: "Montserrat";
  font-size: 5rem;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border: 1px solid black;
  cursor: pointer;
}
