@media (orientation: landscape) {
  .CardBox {
    padding-bottom: 0.6em;
    padding-top: 0.6em;
  }
  .PassButton {
    grid-column-start: 3;
    justify-self: center;
    align-self: end;
  }
}

@media (orientation: portrait) {
  .CardBox {
    padding-bottom: 0.8em;
    padding-top: 0.8em;
  }
  .PassButton {
    justify-self: end;
    align-self: end;
    grid-column-start: 3;
  }
}

.CardBox:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.CardBox {
  background-color: rgb(255, 228, 196);
}

.draggable {
  cursor: pointer;
}

.infoTeam.red {
  color: rgb(255, 65, 54);
}
.infoTeam.blue {
  color: rgb(0, 116, 217);
}

.infoTeam {
  text-transform: capitalize;
}

.CardBox.red {
  background-color: rgb(255, 65, 54);
  color: white;
}

.CardBox.blue {
  background-color: rgb(0, 116, 217);
  color: white;
}

.CardBox.assassin {
  background-color: black;
  color: white;
}

.CardBox.bystander {
  background-color: rgb(200, 200, 200);
  color: black;
}

.info {
  color: #494949;
  background: #ffffff;
  font-size: 1rem;
}
