@media (orientation: landscape) {
  .grid {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) 0.2fr 1fr;
    grid-gap: 2px;
    color: #444;
  }

  .CardBox {
    height: 100%;
  }
  .PassButtonWrapper {
    grid-column-start: 3;
    grid-row-start: 7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .HelpButtonWrapper {
    grid-column-start: 5;
    grid-row-start: 7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .statusText {
    position: absolute;
    bottom: 1.8rem;
    text-align: center;
  }
  .codenamesStatusText {
    position: absolute;
    bottom: 2em;
  }
}

@media (orientation: portrait) {
  .grid {
    width: 92%;
    height: 82%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    color: #444;
  }
  .CardBox {
    height: 100%;
  }
  .PassButtonWrapper {
    grid-column-start: 2;
    grid-row-start: 9;
    position: relative;
  }

  .HelpButtonWrapper {
    grid-column-start: 3;
    grid-row-start: 9;
    display: grid;
    align-items: end;
    justify-content: end;
  }

  .PassButton {
    /* Otherwise ant-d will overwrite when loading */
    position: absolute !important;
    bottom: 0;
    right: 0;
  }
  .statusText {
    position: absolute;
    bottom: 2.7rem;
    left: 12rem;
    text-align: center;
  }
  .codenamesStatusText {
    position: absolute;
    bottom: 2.3rem;
    right: 5.5rem;
    text-align: right;
  }
}

.PassButton {
  font-family: "Open Sans";
}

.statusText {
  font-family: "Open Sans";
}

.codenamesStatusText {
  font-family: "Open Sans";
}
.CardBox {
  transition: color 1s, background-color 1s, background 1s, opacity 1s;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0rem;
  font-size: 0.8rem;
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s, visibility 0s 1.5s;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s 1.5s, visibility 0s 1.5s;
}
