.fade {
  transition: all 1s;
  opacity: 0.3;
}

.ScoreBoardTable td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  margin-top: 0em;
}
.ScoreBoardTable th {
  padding-bottom: 0em;
}

.ScoreCard {
  font-size: 0.8rem;
  font-family: "Open Sans";
  /* background-color: WhiteSmoke; */
  /* border: 1px solid black; */
  border-radius: 0.6rem;
  transition: all 1s;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.5em;
}
.CoopScoreCard {
  font-size: 0.8rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.scoreBoardHeader {
  transition: all 3s;
  border-bottom: 1px solid transparent;
}

.activeText {
  color: black;
  border-color: black;
}

.scoreIndicator {
  width: 10px;
  height: 10px;
  border: 0.5px solid grey;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  /* background-color: whitesmoke; */
  transition: background-color 1s;
}

.scoreIndicatorRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: bottom;
  padding-top: 0.5rem;
  justify-content: center;
}

.blue {
  background-color: rgb(0, 116, 217);
}

.red {
  background-color: rgb(255, 65, 54);
}

.green {
  background-color: rgb(49, 196, 96);
}

.white {
  background-color: rgb(200, 200, 200);
}
