.gameUI {
  padding: 1%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  width: 100%;
  height: 100%;
}

.handDisplay {
  width: 100%;
  display: grid;
  grid-row-start: 2;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  padding: 0.75%;
}

.flagsDisplay {
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 0.75%;
}

.flag {
  border: 1px dashed transparent;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 4fr 1fr 4fr;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}
/*
.flagHand {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 3px;
  height: 100%;
  width: 100%;
} */
.flagHand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  height: 90%;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

.flagHandOther {
  flex-direction: column-reverse;
}

.cardDisplay {
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 2em;
}

.card {
  border: 3px solid transparent;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: "Montserrat";
}

.flagCard {
  height: 31%;
  width: 100%;
}

.empty {
  border: 1px solid transparent;
}

.flagSymbol {
  border: 1px solid black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.flagSymbol.ours {
  margin-top: 30%;
  background-color: black;
}

.flagSymbol.theirs {
  margin-bottom: 30%;
  background-color: black;
}

.needsInput {
  border: 1px dashed black;
}
.chosenInput {
  border: 3px solid black;
}

.blue {
  background-color: rgb(35, 109, 147);
}
.green {
  background-color: rgb(159, 152, 3);
}
.pink {
  background-color: rgb(164, 51, 94);
}

.purple {
  background-color: rgb(77, 20, 54);
}
.black {
  background-color: rgb(3, 0, 0);
}
.red {
  background-color: rgb(184, 34, 3);
}
