/* :global(.ant-btn:not(:focus):hover) {
  color: none;
  border-color: none;
}
/* On touch screen devices, the hover state */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.selectable {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navBar {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.uiScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  max-height: 80vh;
}

.gameScreen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
/*
:global(.ant-message-notice-content .ant-btn) {
  font-family: "Open Sans";
} */

.largeUiScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  max-height: 90vh;
}

.instructions {
  font-size: 1.25em;
  text-align: center;
}

.centeringBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topRightButton {
  position: absolute !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
}

.bottomNavBar {
  position: absolute;
  bottom: 0;
  z-index: 4;
  right: 0;
}
